{% extends "shop/base2.html" %}
{% load static %}

{% block title %}
    Your inquiry Form
{% endblock %}

{% block three_item %}

    <div class="col-md-12 col-sm-12">
            <h1>Your inquiry Form</h1>
            <div class="goods-page">
              <div class="goods-data clearfix">
                <div class="table-wrapper-responsive">
                <table summary="Shopping cart">
                  <tr>
                    <th class="goods-page-image">Image</th>
                    <th class="goods-page-description">Description</th>
                    <th class="goods-page-quantity">Quantity</th>
                  </tr>
                   {% for item in cart %}
                      {% with product=item.product %}
                          <tr>
                            <td class="goods-page-image">
                              <a href="{{ product.get_absolute_url }}">
                                  <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
                              </a>
                            </td>
                            <td class="goods-page-description">
                              <h3>{{ product.name }}</h3>
                            </td>

                            <td class="goods-page-quantity">
                                <form action="{% url "cart:cart_add" product.id %}" method="post">
                                    {{ item.update_quantity_form.quantity }}
                                    {{ item.update_quantity_form.update }}
                                    <input type="submit" value="Update">
                                    {% csrf_token %}
                                </form>
                            </td>
                            <td class="del-goods-col">
                              <a class="del-goods" href="{% url "cart:cart_remove" product.id %}">&nbsp;</a>
                            </td>
                          </tr>

                      {% endwith %}
                   {% endfor %}
                 </tr>
                </table>
                </div>
              </div>
              <a href="{% url "catalog:product_list" %}" class="btn btn-default">Continue Adding to Inquiry</a>
              <a href="{% url "orders:order_create" %}" class="btn btn-primary">Place Inquiry</a>
            </div>
          </div>

{% endblock %}

