{% extends "shop/base2.html" %}
{% load static %}
{% block title %}
    {% if category %}
        {{ category.name }}
    {% else %}
        Products
    {% endif %}
{% endblock %}


{% block three_item %}
    <div class="row">

                {% for product in products %}
                      <div class="col-md-3 col-sm-3">
                        <a href="{{ product.get_absolute_url }}">
                            <img src="{% if product.image %}{{ product.image.url }}{%else %}{% static "img/no_image.png" %}{% endif %}" class="img-responsive" >
                        </a>
                        <center><h4>{{ product.name }}</h4></center>

                      </div>
                {% endfor %}

    </div>
{% endblock %}
