{% extends "shop/base3.html" %}
{% load static %}
{% block title %}
    {% if category %}
        {{ category.name }}
    {% else %}
        Products
    {% endif %}
{% endblock %}

{% block carousel2 %}
<div id="carousel-example-generic" class="carousel slide " data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        {% for item in carosual_images %}
        <li data-target="#carousel-example-generic" data-slide-to="{{ forloop.counter0 }}" class="active"></li>
        {% endfor %}
    </ol>
<!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

        {% for ci in carosual_images %}
            <div class="item {% if forloop.first %}active{% endif %}">
                <img src="{{ ci.image_name.url }}" alt="First slide" width="100px" height="100px">
            </div>
        {% endfor %}

        <!-- Controls -->
        <a class="left carousel-control carousel-control-shop" href="#carousel-example-generic" role="button" data-slide="prev">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </a>

        <a class="right carousel-control carousel-control-shop" href="#carousel-example-generic" role="button" data-slide="next">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
        </a>
    </div>
</div>
{% endblock %}



{% block content %}
    <div class="row product-list">
    {% for product in products %}

              <!-- PRODUCT ITEM START -->
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="product-item">
                  <div class="pi-img-wrapper">
                    <img src="{% if product.image %}{{ product.image.url }}{%else %}{% static "img/no_image.png" %}{% endif %}" class="img-responsive" alt="{{ product.name }}" >
                    <div>
                      <a href="{{ product.image.url }}" class="btn btn-default fancybox-button">Zoom</a>
                      <a href="{{ product.get_absolute_url }}" class="btn btn-default fancybox-fast-view">View</a>
                    </div>
                  </div>
                  <h3><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h3>
                </div>
              </div>
              <!-- PRODUCT ITEM END -->

    {% endfor %}
    </div>
{% endblock %}


{% block pagination %}
    <div class="row">
      <div class="col-md-4 col-sm-4 items-info">{{ products.count }}Items 1 to 9 of 10 total</div>
      <div class="col-md-8 col-sm-8">
        <ul class="pagination pull-right">
          <li><a href="javascript:;">&laquo;</a></li>
          <li><a href="javascript:;">1</a></li>
          <li><span>2</span></li>
          <li><a href="javascript:;">3</a></li>
          <li><a href="javascript:;">4</a></li>
          <li><a href="javascript:;">5</a></li>
          <li><a href="javascript:;">&raquo;</a></li>
        </ul>
      </div>
    </div>
{% endblock %}

