{% extends 'shop/base2.html' %}
{% load static %}

{% block three_item %}

<div class="row">

    {% for s in qs %}
          <div class="col-md-3 col-sm-3">
            <a href="{{ s.get_absolute_url }}">
                <img src="{% if s.image %}{{ s.image.url }}{%else %}{% static "img/no_image.png" %}{% endif %}" class="img-responsive" >
            </a>
            <center><h4>{{ s.name }}</h4></center>

          </div>
    {% endfor %}

</div>

{% endblock %}

{% block three %}
<div class="col-md-9 col-sm-7">
    <div class="content-search margin-bottom-20">
      <div class="row">
        <div class="col-md-6">
          <h1>Search result for <em>{{ query }}</em></h1>
        </div>
        <div class="col-md-6">
          <form action="#">
            <div class="input-group">
              <input type="text" placeholder="Search again" class="form-control">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">Search</button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- BEGIN PRODUCT LIST -->
    {% for s in qs %}
        <div class="row product-list">
      <!-- PRODUCT ITEM START -->
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="product-item">
          <div class="pi-img-wrapper">
            <img src="{% static 'assets/pages/img/products/model1.jpg' %}" class="img-responsive" alt="{{ s.name }}">
            <div>
              <a href="{% static 'assets/pages/img/products/model1.jpg' %}" class="btn btn-default fancybox-button">Zoom</a>
              <a href="{{ s.get_absolute_url }}" class="btn btn-default fancybox-fast-view">View</a>
            </div>
          </div>
          <h3><a href="{{ s.get_absolute_url }}">{{ s.name }}</a></h3>
          <a href="javascript:;" class="btn btn-default add2cart">Add to enquiry list</a>
        </div>
      </div>
      <!-- PRODUCT ITEM END -->
    </div>
    {% endfor %}

{% endblock %}
    <!-- END PRODUCT LIST -->
    <!-- BEGIN PAGINATOR -->
    <div class="row">
      <div class="col-md-4 col-sm-4 items-info">Items 1 to 9 of 10 total</div>
      <div class="col-md-8 col-sm-8">
        <ul class="pagination pull-right">
          <li><a href="javascript:;">&laquo;</a></li>
          <li><a href="javascript:;">1</a></li>
          <li><span>2</span></li>
          <li><a href="javascript:;">3</a></li>
          <li><a href="javascript:;">4</a></li>
          <li><a href="javascript:;">5</a></li>
          <li><a href="javascript:;">&raquo;</a></li>
        </ul>
      </div>
    </div>
    <!-- END PAGINATOR -->
    </div>


